<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/strategy_all.css">
    <link rel="stylesheet" type="text/css" href="../css/top.css" />
    <script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>  -->
    <title></title>

    <script type="text/javascript">
        (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=320){
                    docEl.style.fontSize = 100 * (clientWidth / 320) + 'px';
                }else{
                    docEl.style.fontSize = '100px';
                }
            };
        if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <div class="top">
        <!-- <div class="back"></div> -->
        <div class="title">就医攻略</div>
    </div>

    <div class="near_hospital">附近医院</div>

    <div class="menu_hospital">
            <a href="strategy_per.html">
                <div class="item">
                    <img class="avatar" src="../image/hospital.jpg"></img>
                    <div class="right">
                        <div class="name">江门市人民医院</div>
                        <div class="center">
                            <div class="dengji">三级甲等</div>
                            <div class="score">
                                <div class="score_word">患者评分：</div>
                                <div class="score_number">4.1</div>
                            </div>
                            
                        </div>
                        <div class="address">江门市蓬莱路高第里172号</div>
                        <div class="distance">2.6km</div>
                    </div>
                </div>
            </a>

            <a href="strategy_per.html">
                <div class="item">
                    <img class="avatar" src="../image/hospital_2.jpg"></img>
                    <div class="right">
                        <div class="name">江门市五邑中医院</div>
                        <div class="center">
                            <div class="dengji">三级甲等</div>
                            <div class="score">
                                <div class="score_word">患者评分：</div>
                                <div class="score_number">4.1</div>
                            </div>
                            
                        </div>
                        <div class="address">广东省江门市华园东路30号</div>
                        <div class="distance">2.1km</div>
                    </div>
                </div>
            </a>

            <a href="strategy_per.html">
                <div class="item">
                    <img class="avatar" src="../image/hospital_3.jpg"></img>
                    <div class="right">
                        <div class="name">江门市中心医院</div>
                        <div class="center">
                            <div class="dengji">三级甲等</div>
                            <div class="score">
                                <div class="score_word">患者评分：</div>
                                <div class="score_number">4.1</div>
                            </div>
                            
                        </div>
                        <div class="address">江门市北街海旁街23号</div>
                        <div class="distance">1.6km</div>
                    </div>
                </div>
            </a>


            <a href="strategy_per.html">
                <div class="item">
                    <img class="avatar" src="../image/hospital_4.jpg"></img>
                    <div class="right">
                        <div class="name">江门市第三人民医院</div>
                        <div class="center">
                            <div class="dengji">三级甲等</div>
                            <div class="score">
                                <div class="score_word">患者评分：</div>
                                <div class="score_number">4.1</div>
                            </div>
                            
                        </div>
                        <div class="address">江门市蓬江区胜利路161号3院</div>
                        <div class="distance">1.1km</div>
                    </div>
                </div>
            </a>

            <a href="strategy_per.html">
                <div class="item">
                    <img class="avatar" src="../image/hospital_5.jpg"></img>
                    <div class="right">
                        <div class="name">江门市妇幼保健院</div>
                        <div class="center">
                            <div class="dengji">二级甲等</div>
                            <div class="score">
                                <div class="score_word">患者评分：</div>
                                <div class="score_number">4.0</div>
                            </div>
                            
                        </div>
                        <div class="address">江门市永利街4号</div>
                        <div class="distance">600m</div>
                    </div>
                </div>
            </a>
        </div>
</body>
</html>